body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


#btn_menu {
    display: none;
}

label {
    cursor: pointer;
    position: fixed;
    z-index: 3;
    width: 10%;
    margin-top: 2.5%;
    margin-left: 3%;
    text-align: center;
    border-radius: 10%;
    background: rgba(255, 255, 255, 0.733);
    transition: margin-left 1s;
}

#btn_menu:checked ~ label {
    margin-left: 24%;
}

body {
    z-index: 2;
}

label img {
    width: 60%;
}

.menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    background: rgba(53, 54, 88, 0.836);
    height: 100%;
    margin: 0px;
    padding-top: 7%;
}

.menu ul li {
    font-size: 20px;
    border-top: 2px solid #837673;
    padding-top: 7%;
    padding-bottom: 7%;
    padding-right: 7%;
    padding-left: 10%;
}

.menu ul li a {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: rgb(241, 241, 241);
    text-decoration: none;
}

.subrayado:hover {
    text-decoration: underline white;
}

.menubox {
    width: 30%;
    height: 1200px;
    margin-top: -2%;
    margin-left: -30%;
    position: fixed;
    z-index: 3;
    transition: margin-left 1s;
}

.menu {
    width: 100%;
    height: 100%;
    z-index: 3; 
}

#btn_menu:checked ~ .menubox {
    margin-left: -5%;
}

@media screen and (max-width:832px) {
    .menu ul li {
        font-size: 15px;
    }

    .menu ul li {
        padding-left: 5%;
        padding-top: 15%;
        padding-bottom: 15%;
    }
}

@media screen and (max-width:700px) {
    label {
        width: 100px;
    }

    .menu ul li {
        padding-left: 0px;
    }

    .menubox {
        width: 40%;
        margin-left: -50%;
    }

    #btn_menu:checked ~ label {
        margin-left: 38%;
    }
}

@media screen and (max-width:470px) {
    .menu ul li {
        padding-left: 0px;
        padding-top: 20%;
        padding-bottom: 20%;
    }

    .menubox {
        width: 60%;
        margin-left: -60%;
    }

    #btn_menu:checked ~ label {
        margin-left: 55%;
    }
    label {
        width: 70px;
    }
}

/*---------------------------------------Aqui empieza el header-----------------------*/

body {
    padding: 0px;
}

header {
    width: auto;
    height: 400px;
    background-image: url(https://live.staticflickr.com/65535/50055029208_645e30c67d_o.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 0px;
    border: 1px solid transparent;
}

.titulo {
    width: 99%;
    word-wrap: break-word;
    position: absolute; /*ponerle absolute a cada titulo para que la barra se posisione bien*/
    font-size:300%;
    top: 8%;
    text-align: center;
    color: white;
}

@media screen and (max-width:750px) {
    .titulo {
        font-size: 200%;
    }
}

@media screen and (max-width:500px) {
    .titulo {
        font-size: 150%;
    }
    header {
        height: 300px;
    }
}

@media screen and (max-width:380px) {
    .titulo {
        font-size: 110%;
    }
    header {
        height: 250px;
    }
}

/*---------------------------------------Aqui empiezan los enlaces-----------------------*/

section {
    background: #4abdac;
    text-align: center;
    padding-bottom: 5%;
}

.buscador {
    width: 40%;
    height: 30px;
    margin-top: 5%;
    font-size: 25px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    background: #ffffff7a;
    border: none;
    border-radius: 5%;
    border-bottom: 2px solid white;
    color: black;
}

.entradasbox {
    text-align: center;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 5%;
    width: 95%;
    height: 100%;
}

.entradasbox a {
    outline: none;
    color: transparent;
}

.entradas {
    width: 250px;
    height: 460px;
    background: white;
    display: inline-block;
    margin: 2%;
    box-shadow: 5px 5px 10px gray;
    outline: none;
}

.entradas img {
    width: 100%;
    height: 200px;
    float: left;
}

.entradas h1 {
    text-align: left;
    vertical-align: middle;
    width: 90%;
    height: auto;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 5%;
    color: black;
    overflow: hidden;
    word-wrap: break-word;
    font-size: x-large;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
}

.entradas h1:hover {
    text-decoration: underline;
}

.entradas p {
    width: auto;
    height: auto;
    text-align: justify;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 0px;
    color: black;
    overflow: hidden;
    word-wrap: break-word;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
}

.entradas p:hover {
    text-decoration: underline;
}

.entradas:hover {
    box-shadow: inset 2px 2px 15px gray, inset -2px -2px 15px black;
}

.entradas img:hover {
    filter: grayscale(50%);
}

@media screen and (max-width:800px){
.buscador {
    width: 80%;
    font-size: 80%;
    }
}
@media screen and (max-width:600px) {
    .entradas {
        width: 200px;
    }
    .entradasbox {
        margin-top: 5%;
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
    }
    .entradas p {
        word-wrap: break-word;
        overflow: hidden;
    }
}

@media screen and (max-width:461px) {
    .entradas {
        width: 140px;
        margin: 1%;
    }

    .entradas h1 {
        font-size: medium;
        font-weight: bold;
    }

    .entradas img {
        width: 100%;
        height: 150px;
    }
}

/*-------------------------------------------------Footer-------------------------------------------------------------*/


footer {
    width: 100%;
    height: auto;
    background: white;
    padding-top: 3%;
    overflow: hidden;
 }
 
 .leftbox {
     width: 35%;
     float: left;
     margin-left: 10%;   
     height: auto;
 }
 
 .textcol {
     font-family: Helvetica, Arial, sans-serif;
     font-size: 30px; 
     height: auto;
     width: 100%;
     margin: 0px;
     color: black;
     text-align: center;
 }
 
 .colbox {
     width: auto;
     height: auto;
     float: left;
 }
 
 .facebook, .instagram, .twiter, .youtube {
     width: 50px;
     height: 50px;
     margin: 4%;
 }
 
 .redes {
     width: 100%;
     height: auto;
     display: inline-block;
     margin-top: 0px;
     border-bottom: 1px solid #4abdac;
     border-bottom-right-radius: 10%;
     border-bottom-left-radius: 10%;
 }
 
 .leftbox .redes div {
     display: inline-block;
     width: 60px;
     height: 60px;
     margin: 5%;
     text-align: center;
     border-radius: 15%;
     transition: background-color 0.5s;
    }
    
    .redes div:hover {
        background-color: rgba(0, 255, 213, 0.568);
    }
 
 .rightbox {
     width: 30%;
     height: auto;
     float: right;
     overflow: hidden;
     margin-right: 5%;
 }

 .logo {
     width: 100%;
     float: right;
     margin-right: 2%;
 }

 @media screen and (max-width:1070px) {
     .colbox {
         float: left;
         margin-top: 0px;
     }
 }
 
 
 @media screen and (max-width:513px) {
    .leftbox {
        width: 100%;
        margin: 0px;
    } 
    
    .colbox {
         display: inline;
         margin: 0px;
     }
     .textcol {
         font-size: 20px;
         text-align: left;
     }
     .redes {
         border: none;
         margin: 0px;
         display: inline-block;
     }
     .rightbox {
        width: 100%; 
        float: left;
     }
     .logo {
         width: 50%;
         float: right;
     }
 }

 @media screen and (max-width:480px) {
     .logo {
         float: left;
         clear: both;
     }

     .leftbox .redes div {
         width: 13%;
         height: 10%;
     }

     .facebook, .twiter, .youtube, .instagram {
         width: 30px;
         height: 30px;
     }
 }
 