body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background: #4abdac;
}

#btn_menu {
    display: none;
}

label {
    cursor: pointer;
    position: fixed;
    z-index: 3;
    width: 10%;
    margin-top: 2.5%;
    margin-left: 3%;
    text-align: center;
    border-radius: 10%;
    background: rgba(255, 255, 255, 0.726);
    transition: margin-left 1s;
}

#btn_menu:checked ~ label {
    margin-left: 24%;
}

body {
    z-index: 2;
}

label img {
    width: 60%;
}

.menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    background: rgba(53, 54, 88, 0.836);
    height: 100%;
    margin: 0px;
    padding-top: 7%;
}

.menu ul li {
    font-size: 20px;
    border-top: 2px solid #837673;
    padding-top: 7%;
    padding-bottom: 7%;
    padding-right: 7%;
    padding-left: 10%;
}

.menu ul li a {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: rgb(241, 241, 241);
    text-decoration: none;
}

.subrayado:hover {
    text-decoration: underline white;
}

.menubox {
    width: 30%;
    height: 1200px;
    margin-top: -2%;
    margin-left: -30%;
    position: fixed;
    z-index: 3;
    transition: margin-left 1s;
}

.menu {
    width: 100%;
    height: 100%;
    z-index: 3; 
}

#btn_menu:checked ~ .menubox {
    margin-left: -5%;
}

@media screen and (max-width:832px) {
    .menu ul li {
        font-size: 15px;
    }

    .menu ul li {
        padding-left: 5%;
        padding-top: 15%;
        padding-bottom: 15%;
    }
}

@media screen and (max-width:700px) {
    label {
        width: 100px;
    }

    .menu ul li {
        padding-left: 0px;
    }

    .menubox {
        width: 40%;
        margin-left: -50%;
    }

    #btn_menu:checked ~ label {
        margin-left: 38%;
    }
}

@media screen and (max-width:470px) {
    .menu ul li {
        padding-left: 0px;
        padding-top: 20%;
        padding-bottom: 20%;
    }

    .menubox {
        width: 60%;
        margin-left: -60%;
    }

    #btn_menu:checked ~ label {
        margin-left: 55%;
    }
    label {
        width: 70px;
    }
}

/*-----------------------------------------------------------------------------------*/
.colee {
    width: 15%;
    margin-left: 42.5%;
    margin-top: 3%;
    position: absolute;
}

.colee img {
    width: 100%;
}

section, aside, footer {
    float: left;
    margin-top: 15%;
    width: 30%;
}

section {
    margin-left: 10%;
}

.foto {
    width: 70%; 
    margin: 5%;
    float: right;
}

.foto img {
    width: 100%;
    height: auto;
}

aside {
    float: left;
    margin-left: 3%;
}

.texto {
    width: 90%;
}

.texto p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    line-height: 20px;
    margin-bottom: 5%;
    text-align: justify;
}

.reglas {
    margin-top: 10%;
    font-size: larger;
    text-align: left;
}

.reglas li {
    margin-bottom: 5%;
    list-style: decimal;
}

.correo {
    margin-top: 10%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

footer {
    width: 10%;
    height:auto;
    float: right;
    margin-right: 15%;
    text-align: center;
    outline: none;
}

.redes {
    width: 90%;
    height: auto;
    text-align: center;
}

.redes div {
    width: 30%;
    height: auto;
    text-align: center;
    border-radius: 10%;
    padding: 10%;
    margin-top: 20%;
    cursor: pointer;
    transition: background-color 0.5s;
}

.redes div:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.redes div img {
    width: 90%;
    height: auto;
}

@media screen and (max-width:750px) {
    footer {
        margin-right: 5%;
    }
    section {
        width: 40%;
    }
    .reglas {
        font-size: medium;
    }

}

@media screen and (max-width:650px) {
    .textcorreo h2 {
        font-size: small;
    }
    .colee {
        width: 20%;
        margin-left: 40%;
    }
    section {
        clear: both;
        margin-top: 20%;
        margin-left: 30%;
    }
    .foto {
        width: 90%;
    }
    aside {
        clear: both;
        width: 90%;
        margin-left: 5%;
        margin-top: 4%;
    }
    .texto {
        width: 100%;
    }
    footer {
        width: 100%;
        margin-top: 10%;
        margin-right: 0px;
        margin-left: 0px;
        float: left;
    }
    .redes {
        width:100%;
    }
    .redes div {
        width: 15%;
        display: inline-block;
        padding: 0px;
        margin-top: 0px;
        margin-right: 5%;
    }
    .redes div img {
        width: 100%;
        padding: 0px;
        margin: 0px;
    }
}