body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background: #4abdac;
}

/*-----------------------------------------------------------------------------------*/
.colee {
    width: 15%;
    margin-left: 42.5%;
    margin-top: 3%;
    position: absolute;
}

.colee img {
    width: 100%;
}

aside {
    float: left;
    margin-top: 15%;
    width: 30%;
}

section {
    float: left;
    margin-left: 25%;
    margin-top: 15%;
    width: 15%;
}

.foto {
    width: 100%;
    float: right;
}

.foto img {
    width: 100%;
    height: auto;
}

aside {
    float: left;
    margin-left: 3%;
}

.texto {
    width: 90%;
}

.texto p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    line-height: 20px;
    margin-bottom: 5%;
    text-align: justify;
}

.reglas {
    margin-top: 10%;
    font-size: larger;
    text-align: left;
}

.reglas li {
    margin-bottom: 5%;
    list-style: decimal;
}

.correo {
    margin-top: 10%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.redes {
    width: auto;
    height: auto;
    text-align: center;
    clear: both;
    padding-right: 5%;
}

.redes div {
    width: 18%;
    height: auto;
    text-align: center;
    border-radius: 10%;
    margin-top: 10%;
    margin-left: 5%;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.2s;
}

.redes div:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.redes div img {
    width: 90%;
    height: auto;
}

@media screen and (max-width:750px) {
    footer {
        margin-right: 5%;
    }
    section {
        width: 40%;
    }
    .reglas {
        font-size: medium;
    }

}

@media screen and (max-width:650px) {
    .textcorreo h2 {
        font-size: small;
    }
    .colee {
        width: 20%;
        margin-left: 40%;
    }
    section {
        clear: both;
        margin-top: 20%;
        margin-left: 30%;
    }
    .foto {
        width: 90%;
    }
    aside {
        clear: both;
        width: 90%;
        margin-left: 5%;
        margin-top: 4%;
    }
    .texto {
        width: 100%;
    }
    footer {
        width: 100%;
        margin-top: 10%;
        margin-right: 0px;
        margin-left: 0px;
        float: left;
    }
    .redes {
        width:100%;
    }
    .redes div {
        width: 15%;
        display: inline-block;
        padding: 0px;
        margin-top: 0px;
        margin-right: 5%;
    }
    .redes div img {
        width: 100%;
        padding: 0px;
        margin: 0px;
    }
}