header {
    background-image: url(https://live.staticflickr.com/65535/50139031512_13f5234828_b.jpg);
}

.men {
    width: 40%;
}

@media screen and (max-width:840px) {
    header {
        background-image: url(https://live.staticflickr.com/65535/50138253628_e782867577_o.jpg);
    }
}

@media screen and (max-width:528px) {
    header {
        background-image: url(https://live.staticflickr.com/65535/50137891391_15f6a80a90_o.jpg);
    }
    .men {
        width: 50%;
    }
}