body {
    z-index: 2;
    background: #4abdac;
    padding: 0px;
}

header {
    width: auto;
    height: 400px;
    background-image: url(https://live.staticflickr.com/65535/50088727887_736884f277_o.jpg);
    background-size: 100% 80%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 0px;
    border: 1px solid transparent;
}

/*---------------------------------------Aqui empiezan el contenido-----------------------*/

section {
    background: white;
    text-align: left;
    padding-bottom: 5%;
    margin-top: 3%;
    margin-right: 3%;
    float: right;
    border: 1px solid transparent;
    width: 83%;
    height: auto;
}

article {
    margin: 5%;
    font-family: Arial, Helvetica, sans-serif;
}

.fecha {
    text-align: right;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: larger;
}

.titulo {
    text-align: center;
    font-size: 40px;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: Helvetica, sans-serif;
    text-shadow: 5px 5px 7px gray;
    clear: both;
}

article p {
    text-align: justify;
    line-height: 25px;
    font-size: large;
    margin-top: 4%;
}

article div {
    text-align: center;
}

article img {
    width: 50%;
    margin: 5%;
}

.video {
    width: 70%;
    height: 400px;
    margin-bottom: 10%;
    margin-left: 15%;
    margin-right: 15%;
}

iframe {
    width: 100%;
    height: 100%;
}

.dejanos {
    margin-left: 5%;
    margin-top: 10%;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

article h2 {
    margin-top: 5%;
    text-shadow: 5px 5px 7px gray;
}

h3 {
    margin-top: 10%;
}

h5 {
    margin-left: 5%;
    font-family: Arial, Helvetica, sans-serif;
}

/*----------------------------------------------Aside----------------------------------------*/

aside {
    width: 10%;
    height: auto;
    float: left;
    text-align: center;
    margin-left: 2%;
    outline: none;
    background: #4abdac;
}

.redes {
    width: 90%;
    height: auto;
    text-align: center;
}

.redes div {
    width: 70%;
    height: auto;
    text-align: center;
    border-radius: 10%;
    padding: 10%;
    margin-top: 20%;
    cursor: pointer;
    transition: background-color 0.5s;
}

.redes div:hover {
    background-color: rgba(255, 255, 255, 0.493);
}

.redes div img {
    width: 80%;
    height: auto;
}

@media screen and (max-width:1110px) {
    .video {
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }
}
@media screen and (max-width:1110px) {
    .video {
        height: 270px;
    }
}

@media screen and (max-width:700px) {
    section {
        float: none;
        width: 98%;
        margin: 1%;
    }
    .titulo {
        font-size: 30px;
    }
    article img {
        width: 70%;
    }
    aside {
        float: none;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    .video {
        margin-bottom: 20%;
    }
    .redes div {
        display: inline-block;
        width: auto;
        padding: 4%;
        margin-top: 0px;
        margin-left: 5%;
    }
    .redes div img {
        width: 50px;
    }
}

@media screen and (max-width:528px) {
    .redes div {
        padding: 2%;
    }
    .redes div img {
        width: 40px;
    }
    header {
        height: 300px;
        background-image: url(https://live.staticflickr.com/65535/50088046748_499ec619c0_o.jpg);
        background-size: 100% 100%;
        background-position: center;
    }
    .video {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30%;
        width: 100%;
        height: 200px;
    }
}