header {
    height: 200px;
}

section {
    margin: 0px;
    padding: 3%;
}

section h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    color: white;
}

section h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: x-large;
    margin-top: 5%;
}

section ul {
    text-align: left;
    margin-top: 4%;
}

section ul li {
    margin-bottom: 2%;
}

section ul li a {
    text-decoration: underline;
    color: black;
    font-size: larger;
}

section ul li a:hover {
    color:white;
}