header {
    background-image: url(https://live.staticflickr.com/65535/50067282232_913545106b_o.jpg);
}

.img3 {
    width: 50%;
    height: 20%;
}

@media screen and (max-width:528px) {
    header {
        background-image: url(https://live.staticflickr.com/65535/50069450586_3dd47dcb41_o.jpg);
    }
}