body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header {
    width: auto;
    height: 330px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 0px;
    border: 1px solid transparent;
}

.titulo {
    word-wrap: break-word;
    position: absolute; /*ponerle absolute a cada titulo para que la barra se posisione bien*/
    text-align: center;
    width: 99%;
    height: auto;
    top: 50px;
    color:white;
}

.titulo h1 {
    vertical-align: middle;
    font-size: 450%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media screen and (max-width:700px) {
    .titulo h1 {
        font-size: 200%;
    }
    .titulo {
        top:50px;
    }
    header {
        height: 200px;
    }
}

/*---------------------------------------Aqui empiezan los enlaces-----------------------*/

section {
    background: #4abdac;
    text-align: center;
    padding-bottom: 5%;
    width: auto;
}

section div a {
    outline: none;
}

form {
    width: auto;
}

.buscador {
    height: 35px;
    border: 0;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 40%;
    border-radius: 30px;
    font-size: 20px;
    box-shadow: 0px 0px 0px 7px rgba(255, 255, 255, 0.658);
    outline: none;
    margin-top: 3%;
    margin-left: 15%;
    padding-left: 2%;   
}

#lupa {
    border: 0;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    background: url(../img/pngocean.com.png) no-repeat;
    background-color: transparent;
    background-position: center;
    margin-right: 10%;
    margin-bottom: 1px;
    cursor: pointer;
    outline: none;
}

#box-search {
    position: absolute;
    z-index: 8;
    overflow: hidden;
    list-style: none;
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: rgba(255, 255, 255, 0.767);
    width: 39.5%;
    left: 31%;
    top: 397px;
    font-size: larger;
    display: none;
    padding-bottom: 1%;
    padding-left: 0px;
}

#box-search li {
    padding: 3%;
    margin-left: 0px;
    border-bottom: 1px solid gray;
}

#box-search li:hover {
    background: rgba(163, 163, 163, 0.842);
    text-decoration: underline;
}

#box-search li a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width:1125px) {
    #box-search {
        top: 390px;
        left: 30%;
    }
}

@media screen and (max-width:1000px) {
    #box-search {
        top: 383px;
        left: 30%;
    }
}

@media screen and (max-width:868px) {
        #box-search {
        top: 377px;
        left: 29%;
    }
}

@media screen and (max-width:700px) {
    #box-search {
        top: 245px;
        left: 29%;
    }
}

.entradasbox {
    text-align: center;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 5%;
    width: auto;
    height: 100%;
}

.entradasbox a {
    outline: none;
    color: transparent;
}

.entradas {
    width: 250px;
    height: 460px;
    background: white;
    display: inline-block;
    margin: 2%;
    box-shadow: 5px 5px 10px gray;
    outline: none;
    z-index: 1;
}

.etiqueta {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    width: auto;
    height: auto;
    background: #0099ff;
    position: absolute;
    margin-top: 1%;
    z-index: 2;
}

.etiqueta h3 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    margin: 10px;
}

.entradas img {
    width: 100%;
    height: 200px;
    float: left;
}

.entradas h1 {
    text-align: left;
    vertical-align: middle;
    width: 90%;
    height: auto;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 5%;
    color: black;
    overflow: hidden;
    word-wrap: break-word;
    font-size: x-large;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
}

.entradas h1:hover {
    text-decoration: underline;
}

.entradas p {
    width: auto;
    height: auto;
    text-align: justify;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 0px;
    color: black;
    overflow: hidden;
    word-wrap: break-word;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.entradas p:hover {
    text-decoration: underline;
}

.entradas:hover {
    box-shadow: inset 2px 2px 15px gray, inset -2px -2px 15px black;
}

.entradas img:hover {
    filter: grayscale(50%);
}

@media screen and (max-width:800px){
.buscador {
    font-size: 80%;
    }
}
@media screen and (max-width:600px) {
    .entradas {
        width: 200px;
    }
    .entradasbox {
        margin-top: 5%;
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
    }
    .entradas p {
        word-wrap: break-word;
        overflow: hidden;
    }
    .buscador {
        margin-top: 5%;
        width: 65%;
        margin-left: 1%;
    }
   #box-search {
        top: 250px;
        left: 9%;
        width: 64.5%;
    }
    #box-search li a {
        font-size: medium;
    }
}

@media screen and (max-width:430px) {
    #box-search {
        top: 243px;
        left: 7%;
        width: 64.5%;
    }
}

@media screen and (max-width:461px) {
    .entradas {
        width: 140px;
        margin: 1%;
    }

    .entradas h1 {
        font-size: medium;
        font-weight: bold;
    }

    .entradas img {
        width: 100%;
        height: 150px;
    }
}

@media screen and (max-width:328px) {
    #box-search {
        top: 240px;
        left: 6%;
        width: 80%;
    }
}

@media screen and (max-width:320px) {
    #box-search {
        top: 237px;
        left: 6%;
    }
}

/*-------------------------------------------------Footer-------------------------------------------------------------*/


footer {
    width: auto;
    height: auto;
    background: white;
    padding-top: 2%;
    overflow: hidden;
 }
 
 .leftbox {
     width: 35%;
     float: left;
     margin-left: 5%; 
     margin-top: 3%;
     margin-bottom: 3%; 
     height: auto;
 }

 .colbox {
    width: 100%;
    height: auto;
    float: left;
}
 
 .textcol {
     font-family: Helvetica, Arial, sans-serif;
     font-size: 20px; 
     height: auto;
     width: 100%;
     margin: 0px;
     color: black;
     text-align: center;
 }
 
 .facebook, .instagram, .twiter, .youtube {
     width: 80%;
     height: auto;
     margin: 4%;
 }
 
 .redes {
     width: 100%;
     height: auto;
     display: inline-block;
     margin-top: 0px;
     padding-left: 7%;
     border-bottom-right-radius: 10%;
     border-bottom-left-radius: 10%;
 }
 
 .leftbox .redes div {
     display: inline-block;
     width: 50px;
     height: 50px;
     margin: 5%;
     text-align: center;
     border-radius: 15%;
     transition: background-color 0.2s;
    }
    
    .redes div:hover {
        background-color: rgba(0, 255, 213, 0.568);
    }
 
 .rightbox {
     width: 23%;
     height: auto;
     float: right;
     overflow: hidden;
     margin-right: 5%;
 }

 .logo {
     width: 100%;
     float: right;
     margin-right: 2%;
 }

 @media screen and (max-width:1070px) {
     .colbox {
         float: left;
         margin-top: 0px;
     }
 }
 
 @media screen and (max-width:513px) {
    .leftbox {
        width: 100%;
        margin: 0px;
    } 
    
    .colbox {
         display: inline;
         margin-left: 20px;
     }
     .textcol {
         font-size: 15px;
         text-align: left;
     }
     .redes {
         border: none;
         margin: 0px;
         display: inline-block;
         padding: 0%;
     }
     .rightbox {
        width: 100%; 
        float: left;
     }
     .logo {
         width: 50%;
         float: right;
     }
 }

 @media screen and (max-width:480px) {
     .logo {
         float: left;
         clear: both;
     }

     .leftbox .redes div {
         width: 13%;
         height: 10%;
     }

     .facebook, .twiter, .youtube, .instagram {
         width: 30px;
         height: 30px;
     }
 }
 