header {
    background-image: url(https://live.staticflickr.com/65535/50055029208_645e30c67d_o.jpg);
    background-size: cover;
}

.etiqueta {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    width: auto;
    height: auto;
    background: #0099ff;
    position: absolute;
    margin-top: 1%;
    z-index: 2;
}

.etiqueta h3 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    margin: 10px;
}

.etRecom {
    background: #009a00;
}

@media screen and (max-width:600px) {
    section .entradasbox .descartes p {
        word-wrap: break-word;
        font-size: 13px;
    }
}