.contenedor1 {
    width: 100%;
    height: 650px;
    background:#4abdac;
    overflow: hidden;
    padding: auto;
}

.div1 {
    background-image: url(https://live.staticflickr.com/65535/50317179358_7510d38ec2_o.jpg);
    background-size: 75% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: left;
    width: 73%;
    height: 600px;
    position: relative;
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 7px rgb(0, 0, 0);
    clip-path: polygon(0 0, 66.7% 0, 100% 100%, 0 100%);
    margin: 1%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-align: left;
    word-wrap: break-word;
    padding-right: 7%;
    cursor: pointer;
    outline: none;
    float: left;
    border-bottom-left-radius: 10%;
    border-top-left-radius: 7%;
    transition: box-shadow 0.5s;
}

.div2 {
    background-image: url(https://live.staticflickr.com/65535/50313772036_96b61b1bf2_o.jpg);
    background-size: 70% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right;
    width: 48%;
    height: 290px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%);
    position: absolute;
    top: 14px;
    right: 16px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 7px rgb(7, 7, 7);
    padding-left: 6%;
    cursor: pointer;
    outline: none;
    float: right;
    border-top-right-radius: 7%;
    transition: box-shadow 0.5s;
}

.div3 {
    background-image: url(https://live.staticflickr.com/65535/50313971987_b15337f8bc_o.jpg);
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right;
    width: 35.5%;
    height: 294px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 33.33% 100%);
    position: absolute;
    top: 318px;
    right:1%;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 7px rgb(0, 0, 0);
    padding-left: 6%;
    cursor: pointer;
    outline: none;
    float: right;
    border-bottom-right-radius: 7%;
    transition: box-shadow 0.5s; 
}

.title1 {
    font-size: 50px;
    transition: font-size 0.5s;
    margin-left: 10%;
}

.title2, .title3 {
    font-size: 50px;
    transition: font-size 0.5s;
}

.title1:hover {
    font-size: 53px;
}

.title2:hover, .title3:hover {
    font-size: 55px;
}

.div1:hover {
    box-shadow: inset 20px 20px 15px #ffffff93, inset 0px -20px 15px #ffffff93;
    padding: auto;
}

.div2:hover {
    box-shadow: inset 0px 20px 15px #ffffff93, inset -20px -20px 15px #ffffff93;
}

.div3:hover {
    box-shadow: inset 0px 20px 15px #ffffff93, inset -20px -20px 15px #ffffff93;
}

@media screen and (max-width:1020px) {
    .div1 {
    width: 70%;
    }
    .div2 {
    top: 10px;
    }
    .div3 {
    width:37%;
    }

    .logo {
    display: none;
    }
}

@media screen and (max-width:755px) {
    .title1 {
        font-size: 40px;
    }
    .div2 {
        top: 8px;
        }
    .title2, .title3 {
        font-size: 40px;
    }
}

@media screen and (max-width:720px) {
    .contenedor1 {
        height: 600px;
    }
    .div1 {
        width: 97%;
        height: 225px;
        right: 1%;
        left: 1%;
        clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
        border-bottom-left-radius: 0px;
        border-top-right-radius: 7%;
        background-image: url(https://live.staticflickr.com/65535/50317846146_16b503dc51_o.jpg);
        background-size: cover;
        background-position: top;
    }
    .div2 {
        width: 97%;
        height: 225px;
        right: 1%;
        left: 2%;
        top: 125px;
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 50%);
        background-image: url(https://live.staticflickr.com/65535/50313972032_18b0a8e414_o.jpg);
        background-size: cover;
        background-position: center;
        border-top-right-radius: 0px;
        margin: none;
        text-align: right;
    }
    .div2:hover {
        font-size: 29px;
    }
    .div3 {
        width: 97%;
        height: 200px;
        top: 357px;
        background-position: bottom;
        background-size: cover;
        background-repeat: repeat-x;
        background-repeat: repeat-y;
        background-clip: padding-box;
        clip-path: none;
        border-bottom-left-radius: 7%;
        border-bottom-right-radius: 7%;
        text-align: right;
    }
    .div1:hover {
        box-shadow: inset 0px 20px 15px #ffffff93;
        padding: auto;
    }
    
    .div2:hover {
        box-shadow: inset 0px -20px 15px #ffffff93;
    }
    
    .div3:hover {
        box-shadow: inset 0px -20px 15px #ffffff93;
    }
    .title1 {
        font-size: 30px;
        font-weight: bolder;
        margin-left: 1%;
    }
    .title1:hover {
        font-size: 31px;
    }
    .title2, .title3 {
        font-size: 35px;
    }
    .title2:hover, .title3:hover {
        font-size: 38px;
    }
    .title3 {
        text-align: left;
    }
}

@media screen and (max-width:450px) {
    .contenedor1 {
        height: 500px;
    }
    .div1 {
        height: 180px;
    }
    .div2 {
        height: 180px;
        top: 98px;
    }
    .div2:hover {
        font-size: 29px;
    }
    .div3 {
        height: 170px;
        top: 283px;
    }
}

@media screen and (max-width:420px) {
    .title1 {
        font-size: 25px;
        font-weight: bolder;
    }
    .title1:hover {
        font-size: 27px;
    }
    .title2, .title3 {
        font-size: 25px;
    }
    .title2:hover, .title3:hover {
        font-size: 27px;
    }
}

/*---------------------------------------------Aqui inicia el footer-----------------------------------*/

footer {
   width: 100%;
   height: auto;
   background: #4abdac;
   padding-top: 3%;
   overflow: hidden;
}

.leftbox {
    width: 50%;
    float: left;
    margin-left: 3%;   
    height: auto;
    margin-bottom: 80px;
    margin-top: 30px;
}

.bandera {
    width: 70%;
}

.textcol {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger; 
    height: auto;
    width: 100%;
}

.contenedor2 {
    width: 100%;
    height: auto;
    display: inline-block;
    overflow: hidden;
}

.banderabox {
    width: 150px;
    float: left;   
    height: auto;
    text-align: center;
    margin-top: 5%;
}

.colbox {
    width: auto;
    height: auto;
    float: left;
    margin-left: 4%;
    margin-top: 10%;
}

.facebook, .instagram, .twiter, .youtube {
    width: 40px;
    height: 40px;
    margin: 10px;
}

.redes {
    width: 100%;
    height: auto;
}

.rightbox .redes div {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 5%;
    text-align: center;
    border-radius: 15%;
    transition: background-color 0.2s;
}

.redes div:hover {
    background-color: rgba(255, 255, 255, 0.575);
}

.rightbox {
    width: 39%;
    height: auto;
    float: right;
    overflow: hidden;
    margin-right: 3%;
}

.foto {
    width: 100%;        
}

.fotobox {
    width: 210px;
    height: auto;
    float: left;
    margin-top: 6%;
}

.infoyuyabox {
    width: 65%;
    height: auto;
    float: right;
    overflow: hidden;     
}

.infoyuyabox p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
    line-height: 150%;
    margin-top: 0px;
    font-size: medium;      
}

.correobox {
    width: auto;
    float: left;
    clear: left;
    margin-top: 0px;        
}

.correo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    color: black;
}

.mail {
    transition: font-size 0.5s;
    color: black;
}

.mail:hover {
    color: blue;
    font-size: 23px;
    padding: none;
    margin: none;
}

@media screen and (max-width:1125px) {
    .correo, .mail {
        font-size: 20px;
    }
    .correobox, .correobox2 {
        word-wrap: break-word;
    }
    .infoyuyabox {
        width: 100%;
        float: none;
    }
    .fotobox {
        margin-bottom: 1%;
        margin-top: 2%;
    }
    .leftbox {
        margin-top: 0;
    }
}

@media screen and (max-width:1070px) {
    .colbox {
        float: left;
        margin-top: 0px;
    }
}

@media screen and (max-width:947px) {
    .fotobox {
        margin-top: 0px;
    }
}

@media screen and (max-width:513px) {
    .colbox {
        display: none;
    }
    .banderabox img {
        display: none;
    }
    .rightbox .contenedor2 .banderabox .bandera {
        width: 70%;
    }
    .leftbox {
        padding-bottom: 100%;
    }
    .leftbox .fotobox {
        float: none;
        width: 100%;
    }
    .rightbox {
        margin-right: 0px;
        margin-top: -10%;
        bottom: 20%;
    }
    .rightbox .redes {
        display: block;
        width: 50%;
        padding: 0px;
        margin-bottom: 0;
        margin-left: 40%;
    }
    .redes div {
        margin-left: 0px;
        padding-left: 0px;
    }
    .infoyuyabox {
        position: absolute;
        width: 70%;
        right: 25%;
    }
}
@media screen and (max-width:340px) {
    .infoyuyabox h2 {
        font-size: larger;
    }
}
@media screen and (max-width:309px) {
    .infoyuyabox p, .correo {
        font-size: small;
    }
}